.Meaning h3 {
  font-size: 24px;
  line-height: 1.5;
  font-weight: bold;
  text-transform: capitalize;
}

.Meaning .example {
  font-size: 14px;
  opacity: 0.7;
  font-style: italic;
  margin-top: 8px;
}

.Meaning .definition:first-letter {
  text-transform: capitalize;
}

.Meaning .example:first-letter {
  text-transform: capitalize;
}
